:root[data-theme='dark'] {
  --dark-text: #ffffff;
  --dark-link: #249ee8;
  --dark-bkg: #333339;
  --dark-text-secondary: #bfbfbf;
  --dark-bkg-secondary: #181818;
  --dark-bkg-overflow: #101010;
  --dark-code-bkg: #252529;
  --dark-code-highlight-1: #8bb8df;
  --dark-code-highlight-2: #41c2ea;
  --dark-code-highlight-3: #b3e87f;
  --dark-code-highlight-4: #ccb350;
  --dark-code-highlight-5: #686868;
  --dark-code-border: #1a1a1a;
  --dark-btn: #17181c;
  --dark-btn-hover: #101114;
  --dark-btn-txt: #c1c1c1;
  --dark-footer-txt: #bdbdbd;
  --dark-sidebar: #1a1a1f;
  --dark-sidebar-bkg-hover: #1e1e1e;
  --dark-sidebar-selected-txt: #bbbbbb;
  --dark-sidebar-selected-header-bkg: #141415;
  --dark-sidebar-selected-bkg-hover: #222222;
  --dark-sidebar-subselected-bkg: #18181a;
  --dark-sidebar-border: #0b0c0d;
  --dark-sidebar-search-section: #04213d;
  --dark-sidebar-search-box-border: #111111;
  --dark-sidebar-docs-name: #dddddd;
  --dark-api-class: #007dce;
  --dark-api-class-border: #282828;
  --dark-api-class-bkg: #0b0b0b;
  --dark-api-class-prop: #959595;
  --dark-api-class-prop-bkg: #0f0f0f;
  --dark-api-class-prop-border: #2b2b2b;
  --dark-code-snip: #cecece;
  --dark-code-snip-bkg: #2d2d2d;
  --dark-code-snip-border: #1c1c1c;
  --dark-important-bkg: #00392e;
  --dark-important-header-bkg: #006a56;
  --dark-note-bkg: #002c4d;
  --dark-note-header-bkg: #004a7b;
  --dark-warning-bkg: #533500;
  --dark-warning-header-bkg: #803b00;
  --dark-danger-bkg: #82231a;
  --dark-danger-header-bkg: #b9372b;
  --dark-theme-switcher-bkg: #0b0c0d;
  --dark-table-border: #262626;
}
