:root[data-theme='dark'] {
  --dark-text: #ffffff;
  --dark-link: #249ee8;
  --dark-bkg: #2b2b31;
  --dark-text-secondary: #bfbfbf;
  --dark-bkg-secondary: #242428;
  --dark-bkg-overflow: #101010;
  --dark-code-bkg: #252529;
  --dark-code-highlight-1: #8bb8df;
  --dark-code-highlight-2: #41c2ea;
  --dark-code-highlight-3: #b3e87f;
  --dark-code-highlight-4: #ccb350;
  --dark-code-highlight-5: #686868;
  --dark-code-border: #1a1a1a;
  --dark-btn: #1d2028;
  --dark-btn-hover: #191c24;
  --dark-btn-txt: #c1c1c1;
  --dark-footer-txt: #bdbdbd;
  --dark-sidebar: #1a1a1f;
  --dark-sidebar-bkg-hover: #121217;
  --dark-sidebar-selected-txt: #ececec;
  --dark-sidebar-selected-header-bkg: #14141a;
  --dark-sidebar-selected-bkg-hover: #27292f;
  --dark-sidebar-subselected-bkg: #202026;
  --dark-sidebar-border: #171b24;
  --dark-sidebar-search-section: #091440;
  --dark-sidebar-search-box-border: #0c0c11;
  --dark-sidebar-docs-name: #dddddd;
  --dark-api-class: #229ae8;
  --dark-api-class-border: #33394a;
  --dark-api-class-bkg: #16181e;
  --dark-api-class-prop: #bec8db;
  --dark-api-class-prop-bkg: #151822;
  --dark-api-class-prop-border: #373e53;
  --dark-code-snip: #cecece;
  --dark-code-snip-bkg: #1d1f24;
  --dark-code-snip-border: #181924;
  --dark-important-bkg: #00392e;
  --dark-important-header-bkg: #006a56;
  --dark-note-bkg: #002c4d;
  --dark-note-header-bkg: #004a7b;
  --dark-warning-bkg: #533500;
  --dark-warning-header-bkg: #803b00;
  --dark-danger-bkg: #82231a;
  --dark-danger-header-bkg: #b9372b;
  --dark-theme-switcher-bkg: #0b0c0d;
  --dark-table-border: #1b1b22;
}
