:root[data-theme='slate'] {
  --dark-text: #e9ebfc;
  --dark-link: #ef5552;
  --dark-bkg: #2e303e;
  --dark-text-secondary: #d2d7f9;
  --dark-bkg-secondary: #292b37;
  --dark-bkg-overflow: #16171d;
  --dark-code-bkg: #272834;
  --dark-code-highlight-1: #6791e0;
  --dark-code-highlight-2: #0d88c5;
  --dark-code-highlight-3: #2fb170;
  --dark-code-highlight-4: #e6695b;
  --dark-code-highlight-5: #717489;
  --dark-code-border: #1d1e26;
  --dark-btn: #272834;
  --dark-btn-hover: #1c1d26;
  --dark-btn-txt: #d7d9e8;
  --dark-footer-txt: #aeaeb1;
  --dark-sidebar: #16171d;
  --dark-sidebar-bkg-hover: #21222c;
  --dark-sidebar-selected-txt: #e9ebfc;
  --dark-sidebar-selected-header-bkg: #262833;
  --dark-sidebar-selected-bkg-hover: #414457;
  --dark-sidebar-subselected-bkg: #272934;
  --dark-sidebar-border: #1d1e26;
  --dark-sidebar-search-section: #ef5552;
  --dark-sidebar-search-box-border: #2e303e;
  --dark-sidebar-docs-name: #fff;
  --dark-api-class: #02acf2;
  --dark-api-class-border: #23242e;
  --dark-api-class-bkg: #1a1b23;
  --dark-api-class-prop: #a7a8b4;
  --dark-api-class-prop-bkg: #1e1f29;
  --dark-api-class-prop-border: #272833;
  --dark-code-snip: #d5d7e2;
  --dark-code-snip-bkg: #21222c;
  --dark-code-snip-border: #1d1e26;
  --dark-important-bkg: #00392e;
  --dark-important-header-bkg: #006a56;
  --dark-note-bkg: #002c4d;
  --dark-note-header-bkg: #004a7b;
  --dark-warning-bkg: #533500;
  --dark-warning-header-bkg: #803b00;
  --dark-danger-bkg: #82231a;
  --dark-danger-header-bkg: #b9372b;
  --dark-theme-switcher-bkg: #282a37;
  --dark-table-border: #1d1e26;
}
