@import 'general.css';

@import 'dark.css';
@import 'slate.css';

html[data-theme-enabled='true'] body {
  color: var(--dark-text-secondary);
}

html[data-theme-enabled='true'] .wy-nav-content-wrap {
  background-color: var(--dark-bkg-overflow);
}

html[data-theme-enabled='true'] .wy-nav-content {
  background-color: var(--dark-bkg);
}

html[data-theme-enabled='true'] .section {
  color: var(--dark-text);
}

html[data-theme-enabled='true'] .highlight {
  background-color: var(--dark-code-bkg);
}

html[data-theme-enabled='true'] .highlight .nn {
  color: var(--dark-text);
}

html[data-theme-enabled='true'] .highlight .nb {
  color: var(--dark-code-highlight-1);
}

html[data-theme-enabled='true'] .highlight .kn,
html[data-theme-enabled='true'] .highlight .kc,
html[data-theme-enabled='true'] .highlight .k {
  color: var(--dark-code-highlight-2);
}

html[data-theme-enabled='true'] .highlight .s1,
html[data-theme-enabled='true'] .highlight .s2 {
  color: var(--dark-hightlight-3);
}

html[data-theme-enabled='true'] .highlight .nt {
  color: var(--dark-code-highlight-4);
}

html[data-theme-enabled='true'] .highlight .c1 {
  color: var(--dark-code-highlight-5);
}

html[data-theme-enabled='true'] .rst-content div[class^='highlight'] {
  border-color: var(--dark-code-border);
}

html[data-theme-enabled='true'] .wy-nav-content a,
html[data-theme-enabled='true'] .wy-nav-content a:visited {
  color: var(--dark-link);
}

html[data-theme-enabled='true'] .btn-neutral {
  background-color: var(--dark-btn) !important;
}

html[data-theme-enabled='true'] .btn-neutral:hover {
  background-color: var(--dark-btn-hover) !important;
}

html[data-theme-enabled='true'] .btn-neutral:visited {
  color: var(--dark-btn-txt) !important;
}

html[data-theme-enabled='true'] .btn {
  box-shadow: none;
}

html[data-theme-enabled='true'] footer {
  color: var(--dark-footer-txt);
}

html[data-theme-enabled='true'] .wy-nav-side {
  background-color: var(--dark-sidebar);
}

html[data-theme-enabled='true'] .wy-menu-vertical li.current {
  background-color: var(--dark-bkg);
}

html[data-theme-enabled='true'] .wy-menu-vertical li.current > a,
html[data-theme-enabled='true'] .wy-menu-vertical li.on a {
  background-color: var(--dark-sidebar-selected-header-bkg);
  color: var(--dark-text);
}

html[data-theme-enabled='true'] .wy-menu-vertical li.toctree-l1.current > a,
html[data-theme-enabled='true'] .wy-menu-vertical li.current a {
  border-color: var(--dark-sidebar-border);
}

html[data-theme-enabled='true'] .wy-menu-vertical li.current a {
  color: var(--dark-sidebar-selected-txt);
}

html[data-theme-enabled='true'] .wy-menu-vertical li.current a:hover {
  background-color: var(--dark-sidebar-selected-bkg-hover);
}

html[data-theme-enabled='true'] .wy-menu-vertical a:hover,
html[data-theme-enabled='true'] .wy-menu-vertical li.current > a:hover,
html[data-theme-enabled='true'] .wy-menu-vertical li.on a:hover {
  background-color: var(--dark-sidebar-bkg-hover);
}

html[data-theme-enabled='true'] .wy-menu-vertical li.toctree-l2.current > a,
html[data-theme-enabled='true']
  .wy-menu-vertical
  li.toctree-l2.current
  li.toctree-l3
  > a {
  background-color: var(--dark-subselected-bkg);
}

html[data-theme-enabled='true'] .wy-side-nav-search {
  background-color: var(--dark-sidebar-search-section);
}

html[data-theme-enabled='true'] .wy-side-nav-search .wy-dropdown > a,
html[data-theme-enabled='true'] .wy-side-nav-search > a {
  color: var(--dark-sidebar-docs-name);
}

html[data-theme-enabled='true'] .wy-side-nav-search input[type='text'] {
  border-color: var(--dark-sidebar-search-box-border);
  background-color: var(--dark-bkg);
  color: var(--dark-text);
}

html[data-theme-enabled='true'] .theme-switcher,
html[data-theme-enabled='true'] .theme-switcher-btn {
  background-color: var(--dark-theme-switcher-bkg);
  color: var(--dark-text);
}

html[data-theme-enabled='true'].writer-html4
  .rst-content
  dl:not(.docutils)
  > dt,
html[data-theme-enabled='true'].writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)
  > dt {
  background-color: var(--dark-api-class-bkg);
  color: var(--dark-api-class);
  border-color: var(--dark-api-class-border);
}

html[data-theme-enabled='true'] .rst-content code,
html[data-theme-enabled='true'] .rst-content tt {
  color: var(--dark-text);
}

html[data-theme-enabled='true'].writer-html4
  .rst-content
  dl:not(.docutils)
  dl:not(.field-list)
  > dt,
html[data-theme-enabled='true'].writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)
  dl:not(.field-list)
  > dt {
  background-color: var(--dark-api-class-prop-bkg);
  color: var(--dark-api-class-prop);
  border-color: var(--dark-api-class-prop-border);
}

html[data-theme-enabled='true'] .rst-content code,
html[data-theme-enabled='true'] .rst-content tt,
html[data-theme-enabled='true'] code {
  background-color: var(--dark-code-snip-bkg);
  border-color: var(--dark-code-snip-border);
}

html[data-theme-enabled='true'] .rst-content code.xref,
html[data-theme-enabled='true'] .rst-content tt.xref,
html[data-theme-enabled='true'] a .rst-content code,
html[data-theme-enabled='true'] a .rst-content tt {
  color: var(--dark-code-snip);
}

html[data-theme-enabled='true'] .rst-content .hint,
html[data-theme-enabled='true'] .rst-content .important,
html[data-theme-enabled='true'] .rst-content .tip,
html[data-theme-enabled='true'] .rst-content .wy-alert-success.admonition,
html[data-theme-enabled='true'] .rst-content .wy-alert-success.admonition-todo,
html[data-theme-enabled='true'] .rst-content .wy-alert-success.attention,
html[data-theme-enabled='true'] .rst-content .wy-alert-success.caution,
html[data-theme-enabled='true'] .rst-content .wy-alert-success.danger,
html[data-theme-enabled='true'] .rst-content .wy-alert-success.error,
html[data-theme-enabled='true'] .rst-content .wy-alert-success.note,
html[data-theme-enabled='true'] .rst-content .wy-alert-success.seealso,
html[data-theme-enabled='true'] .rst-content .wy-alert-success.warning,
html[data-theme-enabled='true'] .wy-alert.wy-alert-success {
  background-color: var(--dark-important-bkg);
}

html[data-theme-enabled='true'] .rst-content .hint .admonition-title,
html[data-theme-enabled='true'] .rst-content .hint .wy-alert-title,
html[data-theme-enabled='true'] .rst-content .important .admonition-title,
html[data-theme-enabled='true'] .rst-content .important .wy-alert-title,
html[data-theme-enabled='true'] .rst-content .tip .admonition-title,
html[data-theme-enabled='true'] .rst-content .tip .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.admonition-todo
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.admonition-todo
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.admonition
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.admonition
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.attention
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.attention
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.caution
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.caution
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.danger
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.danger
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.error
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.error
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.note
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.note
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.seealso
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.seealso
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.warning
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-success.warning
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert.wy-alert-success
  .admonition-title,
html[data-theme-enabled='true']
  .wy-alert.wy-alert-success
  .rst-content
  .admonition-title,
html[data-theme-enabled='true'] .wy-alert.wy-alert-success .wy-alert-title {
  background-color: var(--dark-important-header-bkg);
}

html[data-theme-enabled='true'] .rst-content .note,
html[data-theme-enabled='true'] .rst-content .seealso,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.admonition,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.admonition-todo,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.attention,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.caution,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.danger,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.error,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.hint,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.important,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.tip,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.warning,
html[data-theme-enabled='true'] .wy-alert.wy-alert-info {
  background-color: var(--dark-note-bkg);
}

html[data-theme-enabled='true'] .rst-content .note .admonition-title,
html[data-theme-enabled='true'] .rst-content .note .wy-alert-title,
html[data-theme-enabled='true'] .rst-content .seealso .admonition-title,
html[data-theme-enabled='true'] .rst-content .seealso .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.admonition-todo
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.admonition-todo
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.admonition
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.admonition
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.attention
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.attention
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.caution
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.caution
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.danger
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.danger
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.error
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.error
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.hint
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.hint
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.important
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.important
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.tip
  .admonition-title,
html[data-theme-enabled='true'] .rst-content .wy-alert-info.tip .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.warning
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-info.warning
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert.wy-alert-info
  .admonition-title,
html[data-theme-enabled='true']
  .wy-alert.wy-alert-info
  .rst-content
  .admonition-title,
html[data-theme-enabled='true'] .wy-alert.wy-alert-info .wy-alert-title {
  background-color: var(--dark-note-header-bkg);
}

html[data-theme-enabled='true'] .rst-content .admonition-todo,
html[data-theme-enabled='true'] .rst-content .attention,
html[data-theme-enabled='true'] .rst-content .caution,
html[data-theme-enabled='true'] .rst-content .warning,
html[data-theme-enabled='true'] .rst-content .wy-alert-warning.admonition,
html[data-theme-enabled='true'] .rst-content .wy-alert-warning.danger,
html[data-theme-enabled='true'] .rst-content .wy-alert-warning.error,
html[data-theme-enabled='true'] .rst-content .wy-alert-warning.hint,
html[data-theme-enabled='true'] .rst-content .wy-alert-warning.important,
html[data-theme-enabled='true'] .rst-content .wy-alert-warning.note,
html[data-theme-enabled='true'] .rst-content .wy-alert-warning.seealso,
html[data-theme-enabled='true'] .rst-content .wy-alert-warning.tip,
html[data-theme-enabled='true'] .wy-alert.wy-alert-warning {
  background-color: var(--dark-warning-bkg);
}

html[data-theme-enabled='true'] .rst-content .admonition-todo .admonition-title,
html[data-theme-enabled='true'] .rst-content .admonition-todo .wy-alert-title,
html[data-theme-enabled='true'] .rst-content .attention .admonition-title,
html[data-theme-enabled='true'] .rst-content .attention .wy-alert-title,
html[data-theme-enabled='true'] .rst-content .caution .admonition-title,
html[data-theme-enabled='true'] .rst-content .caution .wy-alert-title,
html[data-theme-enabled='true'] .rst-content .warning .admonition-title,
html[data-theme-enabled='true'] .rst-content .warning .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.admonition
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.admonition
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.danger
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.danger
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.error
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.error
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.hint
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.hint
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.important
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.important
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.note
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.note
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.seealso
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.seealso
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.tip
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-warning.tip
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert.wy-alert-warning
  .admonition-title,
html[data-theme-enabled='true']
  .wy-alert.wy-alert-warning
  .rst-content
  .admonition-title,
html[data-theme-enabled='true'] .wy-alert.wy-alert-warning .wy-alert-title {
  background-color: var(--dark-warning-header-bkg);
}

html[data-theme-enabled='true'] .rst-content .danger,
html[data-theme-enabled='true'] .rst-content .error,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.admonition,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.admonition-todo,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.attention,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.caution,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.hint,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.important,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.note,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.seealso,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.tip,
html[data-theme-enabled='true'] .rst-content .wy-alert-danger.warning,
html[data-theme-enabled='true'] .wy-alert.wy-alert-danger {
  background-color: var(--dark-danger-bkg);
}

html[data-theme-enabled='true'] .rst-content .danger .admonition-title,
html[data-theme-enabled='true'] .rst-content .danger .wy-alert-title,
html[data-theme-enabled='true'] .rst-content .error .admonition-title,
html[data-theme-enabled='true'] .rst-content .error .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.admonition-todo
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.admonition-todo
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.admonition
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.admonition
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.attention
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.attention
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.caution
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.caution
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.hint
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.hint
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.important
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.important
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.note
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.note
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.seealso
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.seealso
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.tip
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.tip
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.warning
  .admonition-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert-danger.warning
  .wy-alert-title,
html[data-theme-enabled='true']
  .rst-content
  .wy-alert.wy-alert-danger
  .admonition-title,
html[data-theme-enabled='true']
  .wy-alert.wy-alert-danger
  .rst-content
  .admonition-title,
html[data-theme-enabled='true'] .wy-alert.wy-alert-danger .wy-alert-title {
  background-color: var(--dark-danger-header-bkg);
}

html[data-theme-enabled='true'] .wy-nav-top {
  background-color: var(--dark-sidebar-search-section);
}
